<h1>Create new game<h1>

<div class="col s6 offset-s3">
  <%= form_for @game do |f| %>
  <div class="row game-name-field">
    <div class="input-field">
      <%= f.label :name, class: "validate" %>
      <%= f.text_field :name %>
    </div><br>
  </div>
    <div class="row select-box">
      <div class="input-field">
        <label>Number of Players</lable>
        <select>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div><br>
    </div>
    <div class="row">
      <div class="input-field">
        <%= f.label :password, value: "Access code-to make your game private, add an access code to share with the desired players" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.text_field :password, autocomplete: "off", placeholder: "Access code" %>
      </div><br>
    </div>
    <div class="row">
      <div class="actions">
        <%= f.submit "Submit", class:"btn" %>
        <%= f.submit "Sign up", class:"btn" %>
      </div>
  </div>
  <% end %>
</div>
