<div class="text-center">
  <h1><%= @game.name %></h1>
  <% if @game.rounds.last == nil%>
    <%= "Game full" unless @game.limit != @game.players.count %></br>
    <%= "Waiting for game to begin" %>
    <div class="button-group text-center">
      <% if @game.player_in_game?(@game, current_user) %>
        <%= link_to "Leave game", class:"button" %>
      <% elsif @game.password != "" %>
        <%= link_to "Join game", new_game_player_path(@game), class:"button" unless @game.limit == @game.players.count %>
      <% else %>
        <%= link_to "Join game", game_players_path(@game), class:"button" unless @game.limit == @game.players.count %>
      <% end %>
  <% else %>
    <h5><%= "Round #{@game.rounds.current_round.name}" %></h5>
  <% end %>
  <div>
    <% if @game.limit == @game.players.count %>
      <% if @game.user == current_user %>
        <%= button_to "Start game", game_rounds_path(@game), method: :post %>
      <% end %>
    <% else %>
      <%= "Waiting on #{@game.limit - @game.players.count} player(s) to join." %>
    <% end %>
  </div>
    </div>
</div>

<h3 class="text-center">Members of this game</h3>

<div class="row">
    <% @players.each do |player| %>
      <div class="small-10 medium-3 columns player-list text-center">
          <div class="panel text-center player-panel">
            <%= player.user.first_name %>
            <div class ="user-pic th">
              <%- if player.user.profile_photo.file == nil -%>
                <%= image_tag("default_prof_pic.jpg") %>
              <%- else -%>
                <%= image_tag(player.user.profile_photo) %>
              <%- end -%>
            </div>
            <%- if player.active == false %>
              <%= "Eliminated." %>
            <% end %>
        </div>
      </div>
    <% end %>
</div>
