<h1><%= @game.name %></h1>
<% if @game.password != "" %>
  <%= link_to "Join game", new_game_player_path(@game) %>
<% else %>
  <%= link_to "Join game", game_players_path(@game) %>
  <% Player.create(user_id: current_user.id, game_id: @game.id) %>
<% end %>

<ul>
  <h3>Members of this game</h3>
  <% @players.each do |player| %>
    <li><%= player.user.first_name %></li>
    <div class = user-pic>
      <%- if player.user.profile_photo.file == nil -%>
        <li><%= image_tag("default_prof_pic.jpg") %></li>
      <%- else -%>
        <li><%= image_tag(player.user.profile_photo) %></li>
      <%- end -%>
  </div>


  <% end %>
</ul>
