<h1 class="text-center"><%= current_user.first_name %></h1>
<h3 class="text-center">Your current targets:</h3>

<div class="row clearfix center">
  <ul class="small-block-grid-1 medium-block-grid-3 player-list center">
    <% current_user.players.each do |player| %>
      <% if player.game.rounds.last != nil && player.game.rounds.last != "" %>
          <li class="small-12 columns panel text-center player-panel">
          <h5><%= link_to player.game.name, game_path(player.game) %></br></h5>
            <%= player.game.rounds.last.round_assignments.where(player_id: current_user.players.where(game_id: player.game.id).last.id).last.target.user.first_name %></br></br>

            <div class ="user-pic th">
              <%- if player.game.rounds.last.round_assignments.where(player_id: current_user.players.where(game_id: player.game.id).last.id).last.target.user.profile_photo.file == nil -%>
                <%= image_tag("default_prof_pic.jpg") %>
              <%- else -%>
                <%= image_tag(player.game.rounds.last.round_assignments.where(player_id: current_user.players.where(game_id: player.game.id).last.id).last.target.user.profile_photo) %>
              <%- end -%>
            </div>
            <% if player.game.rounds.last.round_assignments.where(player_id: current_user.players.where(game_id: player.game.id).last.id).last.target.active == true %>
              <%= link_to "Target Eliminated?", game_target_path(player.game, player.game.rounds.last.round_assignments.where(player_id: current_user.players.where(game_id: player.game.id).last.id).last.target), data: { confirm: "Confirm target eliminated?" }, method: :put %>
            <% else %>
              <%= "Eliminated." %>
            <% end %>
          </li>
      <% else %>
      <li class="panel text-center player-panel">
        <%= player.game.name %></br>
        <%= "---Waiting for target---" %></br></br>
      </li>
      <% end %>
    <% end %>
  </ul>
</div>








<%= link_to "Create new game", new_game_path %>
</br>
<%= link_to "View created games", games_path %>
</br>
<%= link_to "Rules", rules_path %>
