<h1 class="center-align"><%= current_user.first_name %></h1>
<h3 class="center-align">Your current targets:</h3>

<div class="row">
  <% current_user.players.each do |player| %>
    <div class="col s6 offset-s3 m4 offset-m4 l2 offset-l5">
      <% if player.game.rounds.last != nil && player.game.rounds.last.name != 0 %>
        <div class="card small z-depth-3">
          <h5><%= link_to player.game.name, game_path(player.game) %></br></h5>
            <% if player.active == false %>
              <p><b>You've been eliminated from the game</b></p>
            <% else %>
              <h6><%= player.target.user.first_name %></br></br></h6>

              <div class ="card-image center user-pic th">
                <%- if player.target.user.profile_photo.file == nil -%>
                  <%= image_tag("default_prof_pic.jpg") %>
                <%- else -%>
                  <% if player.active == false %>
                    <div class="eliminated"><%= image_tag("blackbox.jpg") %></div>
                  <% end %>
                  <%= image_tag(player.target.user.profile_photo) %>
                <%- end -%>
              </div>

              <% if player.target.active == true %>
                <div class="card-content center-align">
                  <%= link_to_if player.active == true, "Target Eliminated?", game_target_path(player.game, player.target), data: { confirm: "Confirm target eliminated?" }, method: :put %>
                </div>
              <% else %>
                <div class="card-content center-align">
                <%= "ELIMINATED" %>
              </div>
              <% end %>
            <% end %>
          </div>
      <% else %>
      <div class="card small z-depth-3">
        <h5><%= link_to player.game.name, game_path(player.game) %></h5></br>
        <div class="center-align"><b>---Waiting for target---</b></div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>








<%= link_to "Create new game", new_game_path %>
</br>
<%= link_to "View created games", games_path %>
</br>
<%= link_to "Rules", rules_path %>
