<h1>Your current targets:</h1>

<% current_user.players.each do |player| %>
  <% if player.game.rounds.last != nil %>
    <%= player.game.name %></br>
    <%= player.game.rounds.last.round_assignments.where(player_id: current_user.players.where(game_id: player.game.id).last.id).last.target.user.first_name %></br></br>

    <div class = user-pic>
      <%- if player.game.rounds.last.round_assignments.where(player_id: current_user.players.where(game_id: player.game.id).last.id).last.target.user.profile_photo.file == nil -%>
        <%= image_tag("default_prof_pic.jpg") %>
      <%- else -%>
        <%= image_tag(player.game.rounds.last.round_assignments.where(player_id: current_user.players.where(game_id: player.game.id).last.id).last.target.user.profile_photo) %>
      <%- end -%>
  </div>

  <% else %>
    <%= player.game.name %></br>
    <%= "---Waiting for target---." %></br></br>
  <% end %>
<% end %>








<%= link_to "Create new game", new_game_path %>
</br>
<%= link_to "View created games", games_path %>
</br>
<%= link_to "Rules", rules_path %>
